

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
background-image:url("https://images.alphacoders.com/133/1331033.png");
background:cover no repeat;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contact-info, .contact-form {
    width: 35%;
    padding: 20px;
    box-sizing: border-box;
}

.contact-info {
    background-color: #f7f7f7;
}

.contact-form {
    background-color: #f4f4f4; /* Set your desired background color */
    max-width: 300px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form */
    padding: 20px; /* Add padding for better visual appearance */
}


.contact-form form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


